$color-white: hsl(0, 0%, 100%);
$color-pale-blue: hsl(221, 100%, 96%);
$color-light-lavender: hsl(241, 100%, 89%);
$color-dark-gray-blue: hsl(224, 30%, 27%);

$color-slate-blue: hsl(252, 100%, 67%);
$color-royal-blue: hsl(249, 94%, 61%);
$color-violet-blue: hsla(256, 72%, 46%, 1);
$color-persian-blue: hsl(223, 31%, 27%);

$color-light-red: hsl(0, 100%, 67%);
$color-orange-yellow: hsl(39, 100%, 56%);
$color-green-teal: hsl(166, 100%, 37%);
$color-cobalt-blue: hsl(234, 85%, 45%);

$color-cobalt-blue-shadow: hsla(234, 59%, 41%, 0.123);
$color-light-lavender-dark: hsla(241, 89%, 83%, 0.699);

$heading-size-small: 2rem;
$heading-size-medium: 2.5rem;
$heading-size-large: 3rem;
$paragraph-size: 1.8rem